$allan: 'Allan', cursive;
$anton: 'Anton', sans-serif;
$bebas: 'Bebas Neue', cursive;
$courgette: 'Courgette', cursive;
$inbue: 'Imbue', serif;
$kaushan: 'Kaushan Script', cursive;
$lobster: 'Lobster', cursive;
$nove: 'Nova Square', cursive;
$oswald: 'Oswald', sans-serif;
$pathway: 'Pathway Gothic One', sans-serif;
$poppins: 'Poppins', sans-serif;
$potta: 'Potta One', cursive;
$pt: 'PT Sans Narrow', sans-serif;
$righteous: 'Righteous', cursive;
$roboto: 'Roboto', sans-serif;
$squada: 'Squada One', cursive;
$teko: 'Teko', sans-serif;
$trade: 'Trade Winds', cursive;
$yenone: 'Yanone Kaffeesatz', sans-serif;
$yellow: 'Yellowtail', cursive;

.of_customers{
    width: 100%;
    .inner_container{
        border-radius: 10px;
        max-width: 400px;
        padding: 20px 10px 10px 10px;
        background: rgba(#fff, 0.2);
        backdrop-filter: blur(10px);
        display: none;
        &.activate{
            display: block;
        }
        h1{
            width: 100%;
            text-align: center;
            padding: 20px;
            color: rgba(#fff, 0.8);
        }
        .options{
            width: 100%;
            padding: 10px;
            select{
                width: 100%;
            }
        }

        .search_area{
            width: 100%;
            padding: 10px;
            input{
                width: 100%;
                padding: 10px;
                outline: none;
                border: none;
            }
        }
        .customers_area_will_be_here{
            width: 100%;
            max-height: 200px;
            overflow: hidden;
            overflow-y: visible;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li{
                width: 100%;
                list-style: none;
                background: rgba(#fff, 0.3);
                backdrop-filter: blur(10px);
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                &.debit{
                    background: rgba(green, 0.3);
                }
                &.credit{
                    background: rgba(red, 0.3);
                }
            }
        }
    }
    .showing_out{
        display: none;
        &.activate{
            display: block;
        }
        border-radius: 10px;
        max-width: 400px;
        padding: 20px;
        background: rgba(#fff, 0.2);
        backdrop-filter: blur(10px);
        color: white;
        text-shadow: 0 0 20px #000;
        font-family: $roboto;
        h1{
            padding: 20px;
            color: rgba(#fff, 0.8);
            text-align: center;
        }
        .basic_details{
            width: 100%;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .products_list{
            width: 100%;
            height: 200px;
            // background: #4e6e4e7e;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow: hidden;
            overflow-y: visible;
            li{
                width: 100%;
                padding: 10px;
                background: rgba(#fff, 0.3);
                backdrop-filter: blur(10px);
                list-style: none;
                border-radius: 10px;
            }
        }
        .buttons{
            width: 100%;
            button{
                width: 100%;
                padding: 3px;
                font-family: $poppins;
                outline: none;
                cursor: pointer;
            }
        }
    }
}
.debitlight{
    background-color: rgba(0, 128, 122, 0.6) !important;
}

.creditlight{
    background-color: rgba(243, 73, 31, 0.6) !important;
}

.debit{
    color: orangered;
    font-family: $poppins;
    text-shadow: 0 0 20px #000;
}

.credit{
    color: red;
    font-family: $poppins;
}